html{
  height:100%;
  font-family: 'Poiret One';
}

body{
  display:flex;
  flex-direction: column;
  justify-content:center;
  height:100%;
}

button{
  background-color: limegreen;
  height:auto;
  padding:0.5em;
  font-family:'Poiret One';
  font-size: 1em;
  font-weight:bold;
}
button:focus{
  background-color:darkgoldenrod;
  border-color: #ffffff00;
}
.top-show{
  max-width: 100px;
  margin:auto;
}

my-modal{
  background-color: orange;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

my-modal h1{
  width:100%;
}

